
@{
    ViewBag.Title = "Push";
}

<h2>Push</h2>
@using (Html.BeginForm("HandlePush","Admin"))
{
    <div class="form-horizontal">
        <h4>Job</h4>
        <hr />
        Select a member to push to: @Html.DropDownList("members")
        <br /><br />
        Push to all members in geo-location: @Html.TextBox("location", null)
        <br /><br />
        Notification: @Html.TextArea("message", null, new { cols = "55", rows = "10" })
        <br /><br />
        <input type="submit" value="Submit" />
     </div>
}

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
